!node_modules/
package-lock.json

node_modules/*
!node_modules/mathjs
!node_modules/babel-standalone

node_modules/mathjs/*
!node_modules/mathjs/dist

node_modules/mathjs/dist/*
!node_modules/mathjs/dist/math.min.js

node_modules/babel-standalone/*

node_modules/babel-standalone/*
!node_modules/babel-standalone/babel.min.js